@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image:url(https://static.vecteezy.com/system/resources/previews/023/639/130/non_2x/molecular-structure-with-hospital-cross-for-medical-chemistry-and-science-concept-background-illustration-vector.jpg);background-size:auto;min-width:inherit;
background-position:center;min-height:100vh;padding-top:0px;color:white">


<div class="text-center">
    <h2 style="color:navy">Welcome to Hospital Demo</h2>
</div>

    <!-- Centering the card -->
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 42rem; height: 12rem; background-color: aqua;">
            <div class="card-body text-dark text-center"
                 style="background-image: url('https://t3.ftcdn.net/jpg/02/92/90/56/360_F_292905667_yFUJNJPngYeRNlrRL4hApHWxuYyRY4kN.jpg'); background-size: cover;">
                <h5 class="card-title">Login To Continue</h5>
                <p class="card-text">Click below to login</p>
                <a asp-action="Login_load" asp-controller="Login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>

           

</div>
 


