@model List<Hospital_Management_MVC.Models.DoctorRetrieveDTO>
@{
	ViewData["Title"] = "Appointment Load";
}

<div>
<h2 class="text-center">Welcome @ViewBag.name</h2>
</div>

<div>
	<div class="row text-center text-info">
		<h3>Choose the doctor</h3>
	</div>

	<div class="row justify-content-center">

		@foreach(var docter in Model)
		{

		

			
		}

	</div>


</div>

